__pycache__
cache
temp
backup

logfile
finish_history.log
submit_history.log
scripts/sbatch

*.sb
*.log
*.err

datasets/refs
src/methods
src/evaluation/ResNet/datasets
src/evaluation/Q16/data
sbatch

nudenet
